

/* *{
    box-sizing: border-box;
    max-width: 1140px;
    margin: 0 auto;
} */
nav{
    display: flex;
    justify-content: space-between;
}
header ul{
    display: flex;
    gap: 48px;
    list-style: none;
    text-decoration: none;
}
nav li a{
    text-decoration: none;
}