


.noto-serif-normal{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 700px;
  font-style: normal;
  font-variation-settings:
    "wdth" 517;
    font-size: 65px;
    line-height: 89px;
    text-align: left;
}


/* *{
    box-sizing: border-box;
    max-width: 1140px;
    margin: 0 auto;
} */

/* navabr styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header ul{
    display: flex;
    gap: 48px;
    list-style: none;
    text-decoration: none;
}
nav li a{
    text-decoration: none;
}

/* Banner styles */

.banner-des{
    font-size: 22px;
    color: #000000;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-top: 49px;
    margin-bottom: 200px;
    justify-content: center;
    text-align: center;
}

.card-container img{
    margin-bottom: 20px;
    width: 100%;
}
.card-container p{
    font-weight: 700px;
    font-size: 22px;
    margin-top: 10px;
    color: #000000;
}
.card-container button{
    background-color: #E95A08;
    width: 100%;
    color: white;
    font-weight: 600px;
    height: 50px;
    margin-top: 20px;
}


/* Challenge Part Styles */

.challange{
    display: flex;
    gap: 60px;
    position: relative;
}
.challanges{
    position: relative;
}
.abcd{
    position: absolute;
    top: -120px;
    right: -100px;
    width: 245px;
    height: 245px;
}


.challange h1{
    font-size: 50px;
    font-weight: 700px;
    color: #000000;
}
.challange ul li{
    list-style: circle;
    line-height: 20px;
    
}
.store-text{
    height: 518px;
    padding-bottom: 39.5px;
    padding-top: 39.5px;
    color: rgba(0, 0, 0, 0.5);
}

.off-25{
    margin-left: 580px;
    margin-top: 150px;
    color: white;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
.off-60{
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-left: 75px;
    margin-top: 70px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.off-30{
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-left: 75px;
    margin-top: 290px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Footer Section Styles */

footer{
    background-image: url(../assets/news-letter-bg.png);
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    height: 533px;
    margin-bottom: 120px;
}

form{
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 200px;
}
form h1{
    font-size: 50px;
    font-weight: bold;
    color: white;
}
form input{
    background-color: white;
    width: 644px;
    height: 50px;
    margin-top: 23px;
}
form button{
    background-color: #E95A08;
    width: 186px;
    height: 50px;
}

.foot{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 32px;
    column-gap: 36px;
}
.foot-title{
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
}
.finis{
    margin: 50px 160px;
    display: flex;
    justify-content: space-between;
}
.finis ul a{
     column-gap: 36px;
}



@media screen and (max-width: 768px) {
    .ok,
    .not-ok{
        display: none;
    }
    .banner{
        display: flex;
    }
    .img-3{
        width: 100%;
    }
}