


.noto-serif-normal{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 700px;
  font-style: normal;
  font-variation-settings:
    "wdth" 517;
    font-size: 4rem;
    line-height: 89px;
    text-align: left;
}

 /* *{
    box-sizing: border-box;
    max-width: 1140px;
    margin: 0 auto;
} */

/* navabr styles */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header ul{
    display: flex;
    gap: 3rem;
    list-style: none;
    text-decoration: none;
}
nav li a{
    text-decoration: none;
}

/* Banner styles */
.banner{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.banner-des{
    font-size: 1.37rem;
    color: #000000;
}
.banner img{
    width: 100%;
    justify-content: flex-end;
}
.ban{
    padding-top: 100px;
}

/* Card Container Styles */

.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.8rem;
    margin-top: 3rem;
    margin-bottom: 200px;
    justify-content: center;
    text-align: center;
}

.card-container img{
    margin-bottom: 1.2rem;
    width: 100%;
}
.card-container p{
    font-weight: 700px;
    font-size: 1.4rem;
    margin-top: 0.6rem;
    color: #000000;
}
.card-container button{
    background-color: #E95A08;
    width: 100%;
    color: white;
    font-weight: 600px;
    height: 3.1rem;
    margin-top: 1.25rem;
}


/* Challenge Part Styles */

.challange{
    display: flex;
    gap: 3.8rem;
    position: relative;
}
.challanges{
    position: relative;
}
.trusted-badge{
    position: absolute;
    top: -120px;
    right: -100px;
    width: 245px;
    height: 245px;
}


.challange h1{
    font-size: 3.1rem;
    font-weight: 700px;
    color: #000000;
}
.challange ul li{
    list-style: circle;
    line-height: 1.25rem;
    
}
.store-text{
    height: 518px;
    padding-bottom: 39.5px;
    padding-top: 39.5px;
    color: rgba(0, 0, 0, 0.5);
}

.off-25{
    margin-left: 500px;
    margin-top: 150px;
    color: white;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 3.7rem;
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    
}
.off-60{
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    margin-left: 75px;
    margin-top: 70px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.off-30{
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
    margin-left: 75px;
    margin-top: 290px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Footer Section Styles */

footer{
    background-image: url(../assets/news-letter-bg.png);
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 120px;
    height: 533px;
}
form{
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 200px;
}
form h1{
    font-size: 3.1rem;
    font-weight: bold;
    color: white;
}
form input{
    background-color: white;
    width: 644px;
    height: 3.1rem;
    margin-top: 1.2rem;
    color: white;
}
form button{
    background-color: #E95A08;
    width: 186px;
    height: 50px;
}

.foot{
    margin: 50px 160px;
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    column-gap: 36px;
    align-items: center;
    text-align: center;
}
.foot-title{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.3rem;
}
.finis{
    margin: 50px 160px;
    display: flex;
    justify-content: space-between;
}
.finis ul a{
     column-gap: 36px;
}
.anchor{
    line-height: 50px;
}
.footer-icon{

}




@media screen and (max-width: 576px) {

            .li-1,
            .li-2,
            .li-3{
                display: none;
            }

            .banner{
                display: flex;
                flex-direction:column-reverse;
                height: auto;
                margin: 0 10px;
            }

            .banner img{
                width:100%;
                margin-bottom: 1px;
            
            }

            nav{
                padding: 0 20px;
            }

            .ban{
                margin-top: 0px;
                padding-top: 2px;
            }

            .banner-des{
                margin-top: 2px;
            }

            header{
                margin-top: 5px;
            }

            .card-container{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                margin-top: 10px;
                margin-bottom: 10px;
            }

            .card-section{
                margin: 0 10px;
            }

            .challange{
                display: flex;
                flex-direction: column;
                margin: 0 10px;
            }

            .trusted-badge{
                    display: none;
            }

            .store-text{
                padding: 0px;
            }
            .latest{
                margin: 0 10px;
            }
            .deals{
                margin: 10px 10px;
                display: flex;
                flex-direction: column;
                gap: 50px;
            }
            .deals img{
                width: 100%;
                height: auto;
            }
            .off-25{
                margin: 400px 140px;
                
                padding: -120px 20px;
                font-size: 2rem;
                font-weight: 500;
                display: none;
            }
            .bloom{
                width: 100%;
                height: auto;
            }
            footer img{
                width: 393px;
                height: 275px;
            }
            footer input{
                width: 300px;
                height: 50px;
               display: grid;
               grid-template-columns: repeat(2, 1fr);
               margin: 0 auto;
               margin-bottom: 10px;
               color: white;
            }
            footer button{
                height: 50px;
                width: 103px;
            }
            
            .foot{
                display: flex;
                flex-direction: column;
                margin: 20px 10px;
                padding-left: 1px;
                justify-content: flex-start;
                
            }
            .footer-icon{
                display: none;
            }
            .anchor{
                line-height: 32px;
            }
            .logo{
                width: 100%;
            }


    
}